<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="https://cdn.example.com/favicon.png">
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
<div class="container">
    <div class="card">
        <h2 class="text-center mb-4"><i class="fas fa-user-plus"></i> Cadastro de Usuário</h2>
        <form method="post" th:action="@{/cadastrar}">
            <div class="form-group">
                <label for="nome"><i class="fas fa-user"></i> Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" th:field="${usuario.nome}" placeholder="Digite seu nome" required>
            </div>
            <div class="form-group">
                <label for="cpf"><i class="fas fa-id-card"></i> CPF:</label>
                <input type="text" class="form-control" id="cpf" name="cpf" th:field="${usuario.cpf}" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="000.000.000-00" required>
            </div>
            <p th:if="${error}" class="error-message">
                <span th:text="${error}"></span>
            </p>
            <div class="text-center"> 
                <button type="submit" class="btn btn-primary btn-cadastro">Cadastrar</button>
            </div>
        </form>
    </div>
     <button class="btn" onclick="window.location.href='/'">Usuários Cadastrados</button>
</div>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#cpf').mask('000.000.000-00', {reverse: true});
    });
</script>
</body>
</html>
